$base-font-family: Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$background-color: #FAF9F6;
$link-base-color: #53917E;
$link-visited-color: #53917E;
$link-hover-color: #53917E;
$text-color: #1A1F16;
