$base-font-family: Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$background-color: #FDFDFD;
$link-base-color: #357266;
$link-visited-color: #0E3B43;
$link-hover-color: #357266;
$text-color: #04151F;
