.site-header {
  position: sticky;
  top: 0;
  background-color: #fdfdfd;
  backdrop-filter: blur(11px); -webkit-backdrop-filter: blur(10px);
}

.site-footer {
  background-color: #fdfdfd;
}

.social-media-list {
  margin: 0 auto;
}

.feed-subscribe {
  text-align: center;
}

p {
  text-align: justify;
}

p strong, li strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif 4", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: 500;
  word-wrap: break-word;
  font-optical-sizing: auto;
}

h1, h2, h3 {
  letter-spacing: -1px;
}

h2, h4, h6, li h3 {
  font-style: italic;
}

li h3 {
  font-weight: 400;
}

.infobox {
  border-top: 1px solid #777978;
  border-bottom: 1px solid #777978;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}

.tagbox {
  border-top: 1px solid #777978;
  padding-top: 30px;
}
