$base-font-family: Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$background-color: #FDFDFD;
$link-base-color: #D64933;
$link-visited-color: #E48A7B;
$link-hover-color: #D64933;
$text-color: #1C1018;
