/* Wrapper width */

.wrapper {
  max-width: 700px;
}

/* Sticky header, remove black bar on top, page links style */

.site-header {
  position: sticky;
  top: 0;
  background-color: #faf9f6;
  backdrop-filter: opacity(100%);
}

.site-header {
  border-top: 0;
}

.site-nav .page-link {
  background-color: inherit;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

.site-nav .page-link:not(:last-child) {
  margin-right: 5px;
}

.site-nav .page-link:last-child {
  margin-right: 5px;
}

.site-nav .page-link:hover {
  background-color: #E9F1F5;
  color: #247BA0;
  padding: 5px 10px;
  text-decoration: none;
}

/* Changes to the footer */

.social-media-list {
  margin: 0 auto;
}

.feed-subscribe {
  text-align: center;
}

/* Paragraphs, headings, bullets and blockquotes */

p, li {
  text-align: justify;
}

p strong, li strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  word-wrap: break-word;
  font-optical-sizing: auto;
  letter-spacing: -1px;
  text-align: justify;
}

h1 {
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.post-header {
  border-bottom: none;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.post-link {
  font-size: 1.05em;
  font-weight: 600;
  margin-bottom: -15px;
}

blockquote {
  font-size: 1rem;
}

li {
  margin-bottom: 0.5em;
}

/* Add heading to footnotes */

.footnotes {
  display: relative;
}

.footnotes::before {
  content: "Footnotes";
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #04151F;
  width: 25%;
}

/* Style for my own classes */

.infobox {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-weight: 600;
}

.top-bordered {
  border-top: 1px solid #f1f1f1;
  padding-top: 30px;
}

.tag-name {
  color: #247BA0;
  background-color: #E9F1F5;
  border-radius: 5px;
  padding: 5px 10px;
}

.tag-name:hover {
  color: #247BA0;
  background-color: #D3E4EC;
  text-decoration: none;
}

.tag-name:visited {
  color: #247BA0;
}

/* Stuff for notes and notes page */

.notecontainer {
  margin-bottom: 30px; 
  display: flex; 
  align-items: stretch;
}

.notlast {
  border-bottom: 1px solid #777978; 
  padding-bottom: 15px; 
}

.notediv1 {
  width: 30%;
  margin-top: 5px;
}

.notediv1mobile {
  display: none;
}

.referral-mobile {
  display: none;
}

.notediv2 {
  width: 70%;
}

h1.heading-note {
  font-weight: 400;
  font-size: 1.5em;
}

@media (max-width: 800px) {
  .notecontainer {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  
 .notediv1 {
  display: none;
 }

  .notediv1mobile {
    display: block;
    width: 100%;
  }

  .notediv1mobile p {
    text-align: left;
    line-height: 2.4rem;
  }

  .notediv1mobile p span {
    white-space: nowrap;
  }

  .referral {
    display: none;
  }

  .referral-mobile {
    display: block;
  }

  .notediv2 {
    width: 100%;
  }
}

.category-name {
  color: #247BA0;
  background-color: #E9F1F5;
  border-radius: 5px;
  padding: 5px 10px;
}

.post-meta > a {
  color: #828296;
  text-decoration: underline;
}

.post-meta > a:visited {
  color: #828296;
  text-decoration: underline;
}

/* Style for pictures */

figure {
  max-width: 70%;
  margin: auto;
}

figure img {
  margin: auto;
}

figcaption {
  padding: 1em;
  text-align: justify;
  background-color: #e8e8e8;
}

.float {
  float: right;
  max-width: 320px;
  margin: 5px;
}

@media (max-width: 600px) {
  .float {float: none; margin: auto;}
}

/* Breadcrumb navigation */

.breadcrumb-nav {
  color: #828296;
}

.breadcrumb-nav > p > a, .breadcrumb-nav > p > a:visited, .breadcrumb-nav > p > a:hover {
  color: #828296;
  text-decoration: underline;
}
