---
layout: base
---
<div class="breadcrumb-nav"><p><a href="{{site.baseurl}}/notes/">Reading notes</a> &gt;</p></div>
<div class="notecontainer">
    <div class="notediv1">
        <p class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
        </p>
         {% if page.categories.size > 0 %}
            <p>
                {% if page.categories.size == 1 %}
                    <strong>Category: </strong> 
                {% endif %}
                {% if page.categories.size > 1 %}
                    <strong>Categories: </strong>
                {% endif %}
            </p>
                {% for category in page.categories %}
                    <p><span class="category-name">{{ category }}</span></p>
                {% endfor %}
            </p>
        {%- endif -%}
        <p class="post-meta referral"><a href="{{site.baseurl}}/notes" title="Back to reading notes">&#8598;</a></p>
    </div>

    <div class="notediv1mobile">
        <p class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ note.date | date: date_format }}
        </p>
         {% if page.categories.size > 0 %}
            <p>
                {% if page.categories.size == 1 %}
                    <strong>Category: </strong> 
                {% endif %}
                {% if page.categories.size > 1 %}
                    <strong>Categories: </strong>
                {% endif %}
                {% for category in page.categories %}
                    <span class="category-name">{{ category }}</span>{%- if forloop.last == false %}&nbsp;{% endif %}
                {% endfor %}
            </p>
        {%- endif -%}
    </div>

    <div class="notediv2">
        <h1 class="heading-note" itemprop="name headline">{{ page.title }}</h1>
        {{ content }}
        <p class="post-meta referral-mobile">&#8598; <a href="{{site.baseurl}}/notes">Back to reading notes</a></p>
    </div>
</div>
