---
layout: base
---
<p class="infobox">You have reached one of my reading notes, short pieces of text in which I highlight some of the best (online) writing I come across.</p>

<div class="notecontainer">
    <div class="notediv1">
        <div>
            <p class="post-meta">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ page.date | date: date_format }}
            </p>
             {% if page.categories.size > 0 %}
                <p>
                    {% if page.categories.size == 1 %}
                        <strong>Category: </strong> 
                    {% endif %}
                    {% if page.categories.size > 1 %}
                        <strong>Categories: </strong>
                    {% endif %}
                </p>
                    {% for category in page.categories %}
                        <p><span class="category-name">{{ category }}</span></p>
                    {% endfor %}
                </p>
            {%- endif -%}
        </div>
        <div class="referral">
            <p class="post-meta">&#8598; <a href="{{site.baseurl}}/notes">Back to reading notes</a></p>
        </div>
    </div>

    <div class="notediv1mobile">
        <p class="post-meta">&#8598; <a href="{{site.baseurl}}/notes">Back to reading notes</a></p>
        <p class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ note.date | date: date_format }}
        </p>
         {% if page.categories.size > 0 %}
            <p>
                {% if page.categories.size == 1 %}
                    <strong>Category: </strong> 
                {% endif %}
                {% if page.categories.size > 1 %}
                    <strong>Categories: </strong>
                {% endif %}
                {% for category in page.categories %}
                    <span class="category-name">{{ category }}</span>{%- if forloop.last == false %}&nbsp;{% endif %}
                {% endfor %}
            </p>
        {%- endif -%}
    </div>

    <div class="notediv2">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title }}</h1>
        {{ content }}
    </div>
</div>
