---
layout: base
---
<h1 class="post-title">{{ page.title | markdownify }}</h1>

{{ content }}

{% assign my_notes_order = site.notes | sort | reverse %}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for note in my_notes_order %}
        {%- if forloop.last == false %}
            <div class="notecontainer notlast">
        {% endif %}
        {%- if forloop.last == true %}
            <div class="notecontainer">
        {% endif %}
                <div class="notediv1">
                    {% if note.categories.size > 0 %}
                        <p>
                            {% if note.categories.size == 1 %}
                                <strong>Category: </strong> 
                            {% endif %}
                            {% if note.categories.size > 1 %}
                                <strong>Categories:<br /></strong>
                            {% endif %}
                        </p>
                    {%- endif -%}
                    {% for category in note.categories %}
                        <p><span class="category-name">{{ category }}</span></p>
                    {% endfor %}
                </div>
                <div class="notediv1mobile">
                    {% if note.categories.size > 0 %}
                        <p>
                            {% if note.categories.size == 1 %}
                                <strong>Category: </strong> 
                            {% endif %}
                            {% if note.categories.size > 1 %}
                                <strong>Categories: </strong>
                            {% endif %}
                    {%- endif -%}
                        {% for category in note.categories %}
                            <span class="category-name">{{ category }}</span>{%- if forloop.last == false %}&nbsp;{% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="notediv2">
                    <h2>{{ note.title }}</h2>
                    {{ note.content | markdownify }}                    
                </div>
            </div>
    {% endfor %}
