---
layout: base
---

<div>
  <h1>Posts tagged with <em>{{ page.tag-name }}</em></h1>

  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {% for post in site.posts %}
      {% if post.tags contains page.tag-name %}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | markdownify }}
            </a>
          </h3>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
